<%= link_to "Back to articles", articles_path, class: "btn btn-primary my-1" %>

<%= render @article %>

<% if user_signed_in? %>
  <% if current_user.admin? || current_user == @article.user %>
    <div>
      <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary" %>
      <%= button_to "Destroy this article", @article, method: :delete, data: { confirm: "Estas seguro?" }, class: "btn btn-danger my-2" %>
    </div>
  <% end %>
<% end %>

  <hr>

<h2>Reacciones:</h2>

<div class="btn-group" role="group">
  <% Article::Kinds.each do |kind| %>
    <% total_reactions = @article.reactions.where(kind: kind).count %>
    <% user_reaction = current_user.reactions.find_by(article_id: @article.id, kind: kind) %>
    
    <% icon_class = Article::ReactionsIcons[kind] %>
    <% button_class = user_reaction&.kind == kind ? "btn btn-success" : "btn btn-primary" %>

    <%= button_to "<i class='#{icon_class}'></i> #{Article::KindsSpanish[kind]} (#{total_reactions})".html_safe, new_user_reaction_path(article_id: @article.id, reaction_type: kind, kind: kind), method: :post, class: button_class %>
  <% end %>
</div>


<h2>Comentarios:</h2>

<%= render "comments/comments" %>
